{% extends 'base.html' %}
{% block header %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            
                
            <h1 class="display-4 fw-bolder">change user profile</h1>
           
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
  
    <form method="POST" class="col-md-6 offset-md-3">
    {% csrf_token %}
        <br><br><br><br>
        <h4><strog>profile info</strog></h4>

     {{ form.as_p }}
     <br>
     <h4><strog>shipping address info</strog></h4>
     {{ shipping_form.as_p }}
        <br><br>
        <button class="btn btn-success">change</button>

        <br><br><br><br>
    </form>
    
    
{% endblock %}